@keyframes girar {

    0%{
        transform: translate(0);
    }

    50%{
        transform: translate(0, -2.5px);
    }

    100%{
        transform: translate(0, 0px);
    }
}

*{
    margin: 0;
    user-select: none;
}

body{
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.upButton{
    border-radius: 50rem;
    background-color: whitesmoke;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    transition-duration: 0.5s;
}

.upButton:hover{
    background-color: rgb(184, 184, 184);
    animation-name: girar ;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;

}


.foto img{
    border-radius: 15rem;
    width: 10rem;
    cursor: pointer;
    transition-duration: 1.5s;
    transition-delay: 0;
    border-color: black;
    box-shadow: 6px 2px 1px rgba(0, 0, 255, .2);
    transition-duration: 0.5s;
}

.foto img:hover{
    animation-name: girar ;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.foto{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.name{
    display: flex;
    justify-content: center;
    color: black;
    user-select: all;
}

.descricao{
    color: aliceblue;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 2rem;
}

.botao{
    width: 35%;
    height: 2.8rem;
    margin: 0.4rem;
    border-radius: 10rem;
    border-color: aliceblue;
    transition-duration: 0.5s ;
    transition-delay: 0;
    background-color: #43E660;
    display: flex;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    box-shadow: 6px 3px 2px 1px rgba(0, 0, 255, .2);
}

.botao:hover{
    color: black;
    border-color: black;
    font-weight: bold;
    animation-name: girar ;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;

}

.button{
    display: flex;
    justify-content: center;
}

.criar{
    display: flex ;
    justify-content: center;
    align-items: center;
}

.botaoLink{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    transition-duration: 0.3s;
    border-radius: 20rem;
    width: 9rem;
    height: 2rem;
    box-shadow: 6px 3px 2px 1px rgba(0, 0, 255, .2);

    

}

.botaoLink:hover{
    animation-name: girar ;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    background-color: gray;
    color: white;
}


